rgb_hand_*.jpg
vid.mp4
test*.jpg
eval_scripts/*
qt/*
*copy.py
scripts/*
videos
/isaacgymenvs/logs
*train_dir*
*wandb*
*ige_logs*
*.egg-info
/.vs
/.vscode
/_package
/shaders
._tmptext.txt
__pycache__/
/isaacgymenvs/tasks/__pycache__
/isaacgymenvs/utils/__pycache__
/isaacgymenvs/tasks/base/__pycache__
/tools/format/.lastrun
*.pyc
*.npy
*.png
*.zip
*.stl
*.lprof
_doxygen
/rlisaacgymenvsgpu/logs
/isaacgymenvs/benchmarks/results
/isaacgymenvs/simpletests/results
*.pxd2
/tests/logs
/isaacgymenvs/balance_bot.xml
/isaacgymenvs/quadcopter.xml
/isaacgymenvs/ingenuity.xml
logs*
nn/
runs/
.idea
outputs/
*.hydra*
/isaacgymenvs/wandb
/env_utils/*.npy